<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <% trackData.forEach(function(track, index) { %>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="wrapper">
                            <img onClick="interactWithAudioPlayer('<%= track.preview %>')" src="<%= track.image %>"
                                class="card-img-top" alt="<%= track.name %>">
                            <h5 class="text-center description">
                                <%= track.name %>
                                    <a href="<%= track.spotify_url %>" target="_blank"><button type="button"
                                            class="btn btn-success">Open <i
                                                class="fa-brands fa-spotify"></i></button></a>
                            </h5>
                        </div>
                        <div class="card-body">
                            <br>
                            <%if (!track.preview) { %>
                                <p class="text-danger">
                                    This track does not have a preview.
                                </p>
                                <% } %>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    <script src="/main.js"></script>
</body>

</html>